[submodule "KanoopCommonQt"]
	path = KanoopCommonQt
	url = https://github.com/StevePunak/KanoopCommonQt.git
[submodule "KanoopDatabaseQt"]
	path = KanoopDatabaseQt
	url = https://github.com/StevePunak/KanoopDatabaseQt.git
[submodule "KanoopPiQt"]
	path = KanoopPiQt
	url = https://github.com/StevePunak/KanoopPiQt.git
	branch = feature/libgpiod-v2
