[submodule "KanoopCommonQt"]
	path = KanoopCommonQt
	url = git@github.com:StevePunak/KanoopCommonQt.git
[submodule "KanoopDatabaseQt"]
	path = KanoopDatabaseQt
	url = git@github.com:StevePunak/KanoopDatabaseQt.git
[submodule "KanoopPiQt"]
	path = KanoopPiQt
	url = git@github.com:StevePunak/KanoopPiQt.git
	branch = feature/libgpiod-v2
